a {
  text-decoration: none;
  outline: none;
}
a:focus {
  outline: none;
}
.tab {
  overflow: hidden;
  display: flex;
  height: 45px;
  align-items: center;
}
.tab .tab-list {
  flex: 1;
}
.tab .tab-list .active {
  color: #ffcd32;
  border-bottom: 2px solid #ffcd32;
  padding-bottom: 8px;
}
.tab .tab-list .tab-link {
  color: rgba(255, 255, 255, 0.5);
}
